@use "../../scss/global";

.top_nav {
  isolation: isolate;
  position: relative;
  z-index: 99;
}

header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  background-color: global.$white;
}

.logo {
  display: inline-block;
  width: min-content;
  font-weight: 800;
  font-size: 1.2rem;
  transition: color 300ms ease;

  &:hover {
    color: global.$pale-red;
    cursor: pointer;
  }
}

.mobile_menu_button {
  border: none;
  background-color: transparent;
  display: none;

  @media (max-width: global.$width-mobile) {
    display: block;
  }

  &:hover {
    cursor: pointer;
  }

  & > img {
    height: 30px;
  }
}

// nav menu

.nav_menu {
  @media (max-width: global.$width-mobile) {
    position: absolute;
    top: -250px;
    width: 250px;
    right: 20px;
    background-color: global.$pale-red;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid global.$black;
    transition: top 400ms ease-in-out, opacity 400ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }

  & .nav_list {
    display: flex;
    gap: 20px;

    @media (max-width: global.$width-mobile) {
      flex-direction: column;
    }

    & .nav_item {
      text-align: left;
      width: 100%;

      & a {
        display: block;
        width: 100%;
      }
    }

    & .dropdown_btn {
      display: flex;
      align-items: center;
      gap: 5px;
      min-width: max-content;

      & img {
        height: 1rem;
      }
    }
  }
}

.mobile_nav_open {
  top: 80px;
  opacity: 1;
}

.nav_item {
  @include global.nav-button(global.$white, global.$black, global.$pale-orange);
}

// dropdowns

.dropdown_container {
  position: relative;
}

.dropdown_list {
  width: max-content;
  position: absolute;
  right: 0;
  top: -160px;
  background-color: global.$white;
  border: 2px solid global.$black;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: top 400ms ease-in-out, opacity 400ms ease-in-out;
  z-index: -1;
  opacity: 0;

  @media (max-width: global.$width-mobile) {
    border: none;
    z-index: 0;
    padding: 0;
    padding-left: 20px;
    margin-top: 10px;
    background-color: transparent;
    transition: none;
    transition: opacity 400ms ease-in-out;
    display: none;
    position: relative;
    right: 0;
    width: 100%;
  }
}

.dropdown_list_open {
  top: 60px;
  opacity: 1;

  @media (max-width: global.$width-mobile) {
    display: flex;
    top: 0;
  }
}
