// *** variables *** //

$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);
$dark-red: rgb(80, 30, 29);
$pale-red: rgb(234, 137, 135);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$width-mobile: 700px;

// *** mix-ins *** //
